<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Detail Center</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />   
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/plantilla.css"/>
        <link rel="stylesheet" href="css/homeInfo1.css"/>

    </head>
    <body>
        <header th:replace="plantillas/template::header"></header>

        <div class="homeInfo_content">
            <div class="container ">
                <br><br>
                <div class="row align-items-start" style="color: white">
                    <div class="col-6 col-sm-2">
                        BEST CERAMIC QUARTZ PROTECTION
                    </div>
                    <div class="w-100"></div>
                    <div class="col-6 col-sm-2" style="background-color: white; color: red">
                        CRYSTAL SERUM LIGHT
                    </div> 
                </div>
            </div>
            <br><br><br><br><br><br><br><br>
            <div class="container px-4 text-center">
                <div class="row gx-5">
                    <div class="col">
                        <div class="p-3">
                            <h1>Que incluye?</h1> <svg th:replace="plantillas/template::intro"></svg>
                            Pre-lavado al mínimo detalle y de contaminaciones químicas, con w6 iron & 
                            fallout remover GTECHNIQ.
                            <br><svg th:replace="plantillas/template::intro"></svg>
                            Correción profesional de pintura en múltiples etapas de pulido (yayaduras
                            superficiales, remolinos, hologramas, etc).
                            <br><svg th:replace="plantillas/template::intro"></svg>
                            Preparación de superficies a recubirir con Panel Wipe GTECHNIQ.
                            <br><svg th:replace="plantillas/template::intro"></svg>
                            Instalación de revestimiento de cuarzo liquido C1 Crystal Serum Light en
                            pintura, faros, logos y cromos.
                            <br><svg th:replace="plantillas/template::intro"></svg>
                            Curado de la superficie.
                            <br><svg th:replace="plantillas/template::intro"></svg>
                            Instalación de sellador EXO GTECHNIQ como Topcoat.
                            <br><svg th:replace="plantillas/template::intro"></svg>
                            Aplicación de revestimiento de Cuarzo permanente C4 Permanent Trim 
                            Restor GTECHNIQ en molduras plásticas y exteriores.
                            <br><svg th:replace="plantillas/template::intro"></svg>
                            Aplicación de revestimiento de Cuarzo C5 Wheel Armour GTECHNIQ en 
                            aros x4. 
                            <br><svg th:replace="plantillas/template::intro"></svg>
                            Aplicación de revestimiento de Cuarzo G1 Clearvision Smart Glass GTECHNIQ en vidrios.
                            <br><svg th:replace="plantillas/template::intro"></svg>
                            Limpieza interior premium.
                            <br><svg th:replace="plantillas/template::intro"></svg>
                            Desinfección interior final a base de amonio cuaternario de 5ta generación.


                        </div>
                        <div class="col">
                            <div class="p-3">
                                <h1>Que incluye?</h1><svg th:replace="plantillas/template::intro"></svg>
                                Máximo nivel de brillo.
                                <br><svg th:replace="plantillas/template::intro"></svg>
                                Máxima protección uv que previene la decoloración del barniz por exposición
                                al sol.
                                <br><svg th:replace="plantillas/template::intro"></svg>
                                Máxima repelencia hidrofóbica y resistencia a Excremento de aves y resina de árboles.
                                <br><svg th:replace="plantillas/template::intro"></svg>
                                Facilita los lavados de mantenimiento.
                                <br><svg th:replace="plantillas/template::intro"></svg>
                                5 años de duración.

                            </div>
                        </div>
                    </div>
                </div>
                <img class="gwagon" src="/images/gwagon.png" alt="alt" />
                <img class="crytalLight" src="/images/crystalserum.webp" alt="alt"/>
            </div>

            <footer th:replace="plantillas/template::footer"></footer>

    </body>
</html>
